
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-image: $backgroundimage;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
}

html,
body {
    background-color: $bodycolor;
    height: fit-content;
}

body {
    display: flex;
    flex-direction: column;
    width: 66%;
    margin: auto;
    overflow-y: scroll;
}

.main {
    flex: 1 0 auto;
    padding: 2em;
    /*width: 66%;
    margin: auto;*/
}

p {
    font-family: 'Lora', 'Open Sans', 'Roboto', 'sans-serif';
    margin: 6px;
    line-height: 1.4;
    color: $fontcolor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', 'Lora', 'Open Sans',  'sans-serif';
    color: $fontcolor;
}

@media (max-width: 600px) {
    html {
        background-repeat: repeat;
    }
}
