
.meimg {
    height: 300px;
    width: 250px;
    border: 2px solid $bordercolor;
    filter: $logobrightness;
}

.logo {
    height: 100px;
    width: 100px;
    float: left;
    margin-left: 8%;
}

.logoimg {
    height: 100px;
    width: 100px;
    float: left;
    margin-left: 8%;
    filter: $logobrightness;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media {
    @media (max-width: 767px) {
        .embed-container iframe,
        .embed-container object,
        .embed-container embed {
            width: auto;
            height: auto;
        }
    }
}