.landingpage {
    display: grid;
    width: 100%;
    gap: 3em 7em;
    background-color: whitesmoke;
}

.landingpage h1 {
    grid-column: span 3;
    justify-self: center;
}

.kmom-box.project {
    grid-column: span 3;
    width: 100%;
}

.kmom-box {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    background-color: white;
    height: 12em;
    border: 2px solid black;
    border-radius: 12px 12px 0px 0px;
    box-shadow: 5px 5px lightgrey;
}

.reportsHeadline {
    background-color: #535353;
    height: 2em;
    border-radius: 10px 10px 0px 0px;
}

.arrowReportLink {
    font-size: 30px;
    position: relative; 
    top: 50%;
    left: 20%;
    color: #535353;
    text-decoration: none;
}

@media (max-width: 600px) {
    .main {
        width: 100%;
    }
    .landingpage {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-gap: 1rem;
    }
    .kmom-box {
        grid-gap: 5px;
        grid-column: 1 / 1;
        width: 150%;
        margin-left: -10px;
    }
    .kmom-box.project {
        width: 110%;
    }
    .arrowReportLink {
        font-size: 3em;
        left: -10%;
        top: 40%;
    }
}
