$logobrightness: grayscale(70%);
$bodycolor: rgb(61, 61, 61);
$fontcolor: #f5f5f5;
$backgroundimage: url('https://i.pinimg.com/originals/96/bb/de/96bbdef0373c7e8e7899c01ae11aee91.jpg');
$kmomboxcolor: rgb(128, 128, 128);
$shadowcolor: #fafafa91;
$sidemenucolor: $bodycolor;
$sidemenubordercolor: #f5f5f5;
$reportheadline: #535353;
$bordercolor: #000;
$arrowcolor: #f5f5f5;
$background: #000;
$backgroundgradient: #000;
