$logobrightness: grayscale(70%);
$bodycolor: rgb(61, 61, 61);
$fontcolor: #f5f5f5;
$backgroundimage: url('../../../assets/img/darkbackground.jpg');
$kmomboxcolor: rgb(128, 128, 128);
$shadowcolor: #fafafa91;
$sidemenucolor: $bodycolor;
$sidemenubordercolor: #f5f5f5;
$reportheadline: #535353;
$bordercolor: #000;
$arrowcolor: #f5f5f5;
$background: #000;
$backgroundgradient: #000;
