$logobrightness: grayscale(0%);
$bodycolor: #fff;
$fontcolor: #000;
$backgroundimage: url('https://wallpaperaccess.com/full/428699.jpg');
$kmomboxcolor: #fff;
$shadowcolor: #d3d3d3;
$sidemenucolor: $bodycolor;
$sidemenubordercolor: #fdb477;
$reportheadline: #e3b36b;
//$bordercolor: #6725ad;
$bordercolor: #54228a;
$arrowcolor: #e3b36b;
$background: rgb(250, 214, 129);
$backgroundgradient: linear-gradient(9deg, rgba(250, 214, 129, 1) 0%, rgba(253, 240, 119, 1) 62%, rgba(227, 179, 107, 1) 100%);

$color1: #fdf077;
$color2: #e3cb6b;
$backgroundheaderfooter: #fad681;
$color3: #e3b36b;
$color4: #fda35a;
