$logobrightness: grayscale(0%);
$bodycolor: #fff;
$fontcolor: #000;
$backgroundimage: url('https://wallpaperaccess.com/full/428699.jpg');
$backgroundheaderfooter: #FAD681;
$kmomboxcolor: #fff;
$shadowcolor: #d3d3d3;
$sidemenucolor: $bodycolor;
$sidemenubordercolor: #fdb477;
$reportheadline: #e3b36b;
$bordercolor: #6725ad;

$color1: #fdf077;
$color2: #e3cb6b;
$backgroundheaderfooter: #FAD681;
$color3: #e3b36b;
$color4: #fdb477;