$logobrightness: grayscale(70%);
$bodycolor: rgb(61, 61, 61);
$fontcolor: #fff;
$backgroundimage: url('https://i.pinimg.com/originals/96/bb/de/96bbdef0373c7e8e7899c01ae11aee91.jpg');
$backgroundheaderfooter: #000;
$kmomboxcolor: grey;
$shadowcolor: #fafafa91;
$sidemenucolor: $bodycolor;
$sidemenubordercolor: #fff;
$reportheadline: #535353;
$bordercolor: #000;
