
/* Header */

.site-header {
    flex: 0 0 auto;
    background-color: #000a52;
    color: rgb(209, 209, 209);
    padding: 0 2em;
}

.site-header a,
.site-header a:visited {
    color: rgb(209, 209, 209);
    
    
}


/* Footer */

.site-footer {
    flex: 0 0 auto;
    background: #000a52;
    color: rgb(209, 209, 209);
    padding: 2em;
    
}

.site-footer a {
    color: #f0f0f0;
}



.footer .social {
    float: right;
    font-size: 3rem;
    margin-right: 6%;
}

.footer .container .footer-text {
    font-size: 2em;
    margin-left: 20%;
}

.footer .instagram {
    float: right;
    font-size: 3rem;
    margin-right: 3%;
}

.footer .school {
    float: right;
    font-size: 3rem;
    margin-right: 3%;
}

.footer .football {
    float: right;
    font-size: 3rem;
    margin-right: 3%;
}
